/************************************************************************************************************/


/*                                              BACK TO TOP                                                */


/************************************************************************************************************/

.Back {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 20px;
    color: white;
    text-decoration: none;
    border: 5px solid #2569cf;
    border-radius: 35px 35px;
    background: #383535;
}

.Back:hover {
    padding: 22px;
    border: #2569cf;
    background: #7b7272;
}


/************************************************************************************************************/


/*                                              CAROUSEL                                               */


/************************************************************************************************************/

.carousel-inner img {
    line-height: 5px;
}


/************************************************************************************************************/


/*                                              NAVBAR                                               */


/************************************************************************************************************/

.nav-item {
    text-align: center;
}


/************************************************************************************************************/


/*                                             ARTICLE                                              */


/************************************************************************************************************/

section h1 {
    color: white;
    border-bottom: solid white 10px;
}

article {
    margin-top: 15%;
}

article img {
    margin-right: 10%;
}

article p {
    clear: both;
}


/************************************************************************************************************/


/*                                             GENERALE                                             */


/************************************************************************************************************/

body {
    background-color: #81d742 !important;
    overflow: scroll;
}

.container {
    background-color: blanchedalmond;
}

h2 {
    text-align: center;
}

ul li {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}


/************************************************************************************************************/


/*                                             FOOTER                                               */


/************************************************************************************************************/

footer p {
    background-color: darkslateblue;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #000;
}

footer .container {
    background-color: floralwhite;
}

footer .col-4 {
    text-align: center;
}

.followus li {
    display: inline-flex;
    text-align: center;
}

footer h4 {
    border-bottom: black 1px solid;
}


/************************************************************************************************************/


/*                                             Search result                                             */


/************************************************************************************************************/

.result {
    margin-top: 15%;
}

.result img {
    float: left;
    margin-right: 10%;
}


/************************************************************************************************************/


/*                                              Media querie                                                */


/************************************************************************************************************/

@media screen and (max-width: 1080px) {
    /*CAROUSEL*/
    .carousel-inner img {
        line-height: 3px;
    }
    /*BACK*/
    .Back {
        position: fixed;
        right: 5px;
        bottom: 5px;
        padding: 10px;
        border: 2px solid #2569cf;
    }
    .Back:hover {
        padding: 11px;
        border: #2569cf;
        background: #7b7272;
    }
}